{% extends 'base.html' %}
{% block title %}Ding Room Security{% endblock %}


    <style>
    .myCanvas{
       background-image: url("{{ url_for('video_feed') }}"); 
    }
	</style>
{% block page_body %}
	<div class="row">
        <p>
            Welcome User: <b>{{ get_username() }}<b/>  
			<img id="video" src="{{ url_for('static', filename='frame.jpg') }}" alt="Video Feed">
        </p>
		<script>
        // Auto-refresh the image every second
        setInterval(function() {
            document.getElementById('video').src = "{{ url_for('static', filename='frame.jpg') }}?t=" + new Date().getTime();
        }, 100);
		</script>
    </div>
{% endblock %}
